header
  .navegacion
    .container
      .row.justify-content-center.justify-content-md-between.align-items-center
        .col-6.col-md-4
          a(href="/")
            img(src="/img/logo.svg", alt="Logo de agencia de viajes")
        .col-6.col-md-8    
          nav.nav.d-flex.justify-content-center.justify-content-md-end
            a(href="/nosotros", class="nav-link") Nosotros
            a(href="/viajes", class="nav-link") Viajes
            a(href="/testimoniales", class="nav-link") Testimoniales